<template>
  <v-container>
    <v-row class="justify-space-between">
      <v-col sm="8" md="6" offset-md="1" lg="5" offset-lg="1">
        <ProductList />
      </v-col>
      <v-col sm="4" md="4" order="first" order-sm="last">
        <CheckoutBox />
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import ProductList from "@/components/ProductList.vue";
import CheckoutBox from "@/components/CheckoutBox.vue";

export default {
  name: "Cart",
  components: {
    ProductList,
    CheckoutBox,
  },
  data(): Record<string, unknown> {
    return {};
  },
};
</script>

<style></style>
