<template>
  <v-container>
    <v-row>
      <v-col sm="6" offset-sm="3">
        <v-stepper v-model="step">
          <v-stepper-header>
            <v-stepper-step step="1" :complete="step > 1" />
            <v-divider />
            <v-stepper-step step="2" :complete="step > 2" />
            <v-divider />
            <v-stepper-step step="3" />
          </v-stepper-header>
          <v-stepper-items>
            <ContactInfo :data="data" :rules="rules" :next="next" />
            <ShippingInfo
              :data="data"
              :rules="rules"
              :next="next"
              :previous="previous"
            />
            <Review
              :data="data"
              :submitOrder="submitOrder"
              :previous="previous"
            />
          </v-stepper-items>
        </v-stepper>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";

import ContactInfo from "@/components/ContactInfo.vue";
import ShippingInfo from "@/components/ShippingInfo.vue";
import Review from "@/components/Review.vue";

import { Data } from "@/components/CheckoutTypes";

const Checkout = Vue.extend({
  name: "Checkout",
  components: {
    ContactInfo,
    ShippingInfo,
    Review,
  },
  data(): Data {
    return {
      step: 1,
      checkoutForm: false,
      data: {
        email: "",
        name: "",
        phone: "",
        street: "",
        state: "",
        zip: "",
      },
      rules: {
        required: (value) => !!value || "Required",
        zip: (value) => value.length == 5 || "Length must be 5",
        email: (value) => /.+@.+\..+/.test(value) || "E-mail must be valid",
        phone: (value) => /\d{10}/.test(value) || "Number must be 10 digits",
      },
    };
  },
  methods: {
    next(): void {
      ++this.step;
    },
    previous(): void {
      --this.step;
    },
    submitOrder(): void {
      this.$router.push("thankyou");
    },
  },
});

export default Checkout;
</script>

<style></style>
