<template>
  <div>
    <Header />
    <PopularProducts />
    <Footer />
  </div>
</template>

<script lang="ts">
import Header from "@/components/Header.vue";
import PopularProducts from "@/components/PopularProducts.vue";
import Footer from "@/components/Footer.vue";

export default {
  name: "Home",
  components: { Header, PopularProducts, Footer },
  data(): Record<string, unknown> {
    return {};
  },
};
</script>

<style></style>
