<template>
  <v-container>
    <v-row>
      <v-col sm="3" md="3"><sidebar @setPriceFilter="setPriceFilter" /></v-col>
      <v-col sm="9" md="8" offset-md="1"
        ><products :products="filteredProducts"
      /></v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import { Product } from "@/store/index";
import Sidebar from "@/components/Sidebar.vue";
import Products from "@/components/Products.vue";

type Data = {
  low: number;
  high: number;
};

const Store = Vue.extend({
  name: "Store",
  components: {
    Products,
    Sidebar,
  },
  data(): Data {
    return {
      low: 0,
      high: Infinity,
    };
  },
  computed: {
    filteredProducts(): Array<Product> {
      return this.$store.state.products.filter((product: Product) => {
        return this.low <= product.price && product.price <= this.high;
      });
    },
  },
  methods: {
    setPriceFilter({ low, high }: { low: number; high: number }): void {
      console.log(low, high);
      if (low != null) {
        this.low = low;
      }
      if (high != null) {
        this.high = high;
      }
    },
  },
});
export default Store;
</script>

<style></style>
