<template>
  <div class="text-center">
    <v-overlay :value="overlay" class="flex-column">
      <p>Processing order...</p>
      <v-progress-circular indeterminate size="64" />
    </v-overlay>

    <h1 v-if="!overlay" class="pt-8">Thank you for your purchase!</h1>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

const ThankYou = Vue.extend({
  name: "ThankYou",
  data(): Record<string, unknown> {
    return {
      overlay: false,
    };
  },
  mounted(): void {
    setTimeout(() => {
      this.overlay = false;
    }, 3000);
  },
  beforeMount(): void {
    this.overlay = true;
  },
});

export default ThankYou;
</script>

<style></style>
