<template>
  <v-card outlined class="pa-4">
    <v-card-title> Payment details </v-card-title>
    <v-card-text>
      <v-form ref="form" v-model="checkoutForm">
        <v-list>
          <v-list-item class="py-1">
            <v-text-field
              v-model="name"
              :rules="nameRules"
              label="Name"
              required
            ></v-text-field>
          </v-list-item>
          <v-list-item class="py-1">
            <v-text-field
              v-model="email"
              :rules="emailRules"
              label="Email"
              required
            ></v-text-field>
          </v-list-item>
        </v-list>
      </v-form>
      <p>Total: {{ $store.getters.cartTotal.toFixed(2) }}</p>
    </v-card-text>
    <v-card-actions>
      <v-btn :disabled="!checkoutForm" color="success" @click="validate"
        >Complete checkout</v-btn
      >
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import Vue from "vue";

type Cart = {
  checkoutForm: boolean;
  nameRules: Array<(v: string) => boolean | string>;
  name: string;
  emailRules: Array<(v: string) => boolean | string>;
  email: string;
};

const CheckoutBox = Vue.extend({
  name: "CheckoutBox",
  components: {},
  data(): Cart {
    return {
      checkoutForm: false,
      nameRules: [(v) => !!v || "Name is required"],
      name: "",
      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
      ],
      email: "",
    };
  },
  methods: {
    validate(): void {
      (this.$refs.form as Vue & { validate: () => boolean })?.validate();
      if (this.checkoutForm) {
        this.goToCheckout();
      }
    },
    goToCheckout(): void {
      this.$router.push({ name: "checkout" });
    },
  },
});

export default CheckoutBox;
</script>
