<template>
  <v-stepper-content step="1">
    <v-text-field
      v-model="data.name"
      :rules="[rules.required]"
      label="Name"
      required
    />
    <v-text-field
      v-model="data.email"
      :rules="[rules.required, rules.email]"
      label="Email"
      required
    />
    <v-text-field
      v-model="data.phone"
      :rules="[rules.required, rules.phone]"
      label="Phone"
      required
    />

    <v-btn color="primary" @click="next"> Continue </v-btn>
    <v-btn text @click="$router.replace({ name: 'cart' })"> Cancel </v-btn>
  </v-stepper-content>
</template>

<script lang="ts">
import Vue from "vue";
import { PropType } from "vue";

import { UserData, UserDataRules } from "@/components/CheckoutTypes";

const ContactInfo = Vue.extend({
  name: "ContactInfo",
  props: {
    data: Object as PropType<UserData>,
    rules: Object as PropType<UserDataRules>,
    next: Function as PropType<() => void>,
  },
});

export default ContactInfo;
</script>

<style></style>
