<template>
  <v-footer class="pa-3" absolute>
    &copy; {{ new Date().getFullYear() }}, &nbsp; <strong> YoShop </strong>
  </v-footer>
</template>

<script lang="ts">
export default {
  name: "Footer",
  components: {},
  data(): Record<string, unknown> {
    return {};
  },
};
</script>
