<template>
  <v-sheet :height="sheetHeight">
    <v-container class="fill-height">
      <v-row class="align-center justify-center">
        <h1 class="text-center display-1">Welcome to YoShop</h1>
      </v-row>
    </v-container>
  </v-sheet>
</template>

<script lang="ts">
import Vue from "vue";

// NOTE: must use Vue.extend to let TS compiler do type inference
const Header = Vue.extend({
  name: "Header",
  components: {},
  data(): Record<string, unknown> {
    return {};
  },
  computed: {
    sheetHeight(): string {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "200px";
        case "sm":
          return "308px";
        case "md":
          return "308px";
        case "lg":
          return "308px";
        case "xl":
          return "350px";
        default:
          return "308px";
      }
    },
  },
});
export default Header;
</script>
