<template>
  <v-card outlined min-width="100%" class="mb-5 pa-4">
    <div class="d-flex flex-no-wrap justify-space-between">
      <v-avatar size="175" tile>
        <v-img :src="cartProduct.imgUrl" />
      </v-avatar>
      <div>
        <v-card-title class="pt-0"> {{ cartProduct.name }} </v-card-title>
        <v-card-subtitle> ${{ cartProduct.price }} </v-card-subtitle>
        <v-card-text> Quantity: {{ cartProduct.quantity }} </v-card-text>
        <v-card-actions>
          <v-btn color="error" fab small @click="removeFromCart"
            ><v-icon class="fa fa-trash" small />
          </v-btn>
          <v-btn fab small @click="updateCartQuantity(1)"
            ><v-icon class="fa fa-plus" small
          /></v-btn>
          <v-btn fab small @click="updateCartQuantity(-1)"
            ><v-icon class="fa fa-minus" small
          /></v-btn>
        </v-card-actions>
      </div>
    </div>
  </v-card>
</template>

<script lang="ts">
import Vue from "vue";

import { CartProduct } from "@/store/index";

const HorizontalProduct = Vue.extend({
  name: "HorizontalProduct",
  props: {
    cartProduct: Object as () => CartProduct,
  },
  methods: {
    removeFromCart(): void {
      this.$store.commit("removeFromCart", this.cartProduct);
    },
    updateCartQuantity(quantity: number): void {
      this.$store.commit("updateCartQuantity", {
        cartProduct: this.cartProduct,
        quantity: quantity,
      });
    },
  },
});

export default HorizontalProduct;
</script>
