<template>
  <v-container mb-12>
    <v-row>
      <v-col sm="10" offset-sm="1" md="8" offset-md="2">
        <h2>
          Popular products
          <v-btn to="/store" small text color="primary">View all</v-btn>
        </h2>
      </v-col>
    </v-row>
    <v-row>
      <v-col sm="10" offset-sm="1" md="8" offset-md="2">
        <v-row>
          <v-col
            sm="6"
            md="4"
            v-for="product in $store.state.products.slice(0, numberOfProducts)"
            :key="product.id"
          >
            <VerticalProduct :product="product" /> </v-col
        ></v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import VerticalProduct from "@/components/VerticalProduct.vue";

const PopularProducts = Vue.extend({
  name: "PopularProducts",
  components: {
    VerticalProduct,
  },
  data(): Record<string, unknown> {
    return {
      items: [],
    };
  },
  computed: {
    numberOfProducts(): number {
      return this.$vuetify.breakpoint.mdAndUp ? 3 : 2;
    },
  },
});

export default PopularProducts;
</script>
