<template>
  <div class="pa-3">
    <div v-if="isEmpty">No products in cart</div>
    <div v-else>
      <v-row v-for="cartProduct in $store.state.cart" :key="cartProduct.id">
        <HorizontalProduct :cartProduct="cartProduct" />
      </v-row>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import HorizontalProduct from "@/components/HorizontalProduct.vue";

const ProductList = Vue.extend({
  name: "ProducList",
  components: { HorizontalProduct },
  computed: {
    isEmpty(): boolean {
      return this.$store.state.cart.length <= 0;
    },
  },
});
export default ProductList;
</script>
