<template>
  <div>
    <h3>Products</h3>
    <v-row>
      <v-col sm="6" md="4" v-for="product in products" :key="product.id">
        <VerticalProduct :product="product" />
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Product } from "@/store/index";
import VerticalProduct from "@/components/VerticalProduct.vue";

const Products = Vue.extend({
  name: "Products",
  props: {
    products: Array as () => Array<Product>,
  },
  components: {
    VerticalProduct,
  },
});

export default Products;
</script>
