<template>
  <v-stepper-content step="3">
    <v-list disabled dense>
      <v-subheader class="title"> Review order </v-subheader>
      <v-list-item-group color="primary">
        <v-list-item v-for="(value, name) in data" :key="name">
          <v-list-item-content>
            <v-list-item-title> {{ name }}: {{ value }} </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
    <v-btn color="primary" @click="submitOrder"> Submit order </v-btn>
    <v-btn text @click="previous"> Go back </v-btn>
  </v-stepper-content>
</template>

<script lang="ts">
import Vue from "vue";
import { PropType } from "vue";

import { UserData, UserDataRules } from "@/components/CheckoutTypes";

const Review = Vue.extend({
  name: "Review",
  props: {
    data: Object as PropType<UserData>,
    rules: Object as PropType<UserDataRules>,
    submitOrder: Function as PropType<() => void>,
    previous: Function as PropType<() => void>,
  },
});

export default Review;
</script>
