<template>
  <v-stepper-content step="2">
    <v-text-field
      v-model="data.street"
      :rules="[rules.required]"
      label="Street"
      required
    />
    <v-text-field
      v-model="data.state"
      :rules="[rules.required]"
      label="State"
      required
    />
    <v-text-field
      v-model="data.zip"
      :rules="[rules.required, rules.zip]"
      label="Zip code"
      required
    />

    <v-btn color="primary" @click="next"> Continue </v-btn>
    <v-btn text @click="previous"> Go back </v-btn>
  </v-stepper-content>
</template>

<script lang="ts">
import Vue from "vue";
import { PropType } from "vue";

import { UserData, UserDataRules } from "@/components/CheckoutTypes";

const ShippingInfo = Vue.extend({
  name: "ShippingInfo",
  props: {
    data: Object as PropType<UserData>,
    rules: Object as PropType<UserDataRules>,
    next: Function as PropType<() => void>,
    previous: Function as PropType<() => void>,
  },
});

export default ShippingInfo;
</script>
