<template>
  <div>
    <v-sheet v-if="$vuetify.breakpoint.mdAndUp" elevation="4" class="pa-8">
      <v-radio-group v-model="defaultIdx" :mandatory="true">
        <v-radio
          v-for="(filter, index) in filters"
          :key="index"
          :label="filter.text"
        ></v-radio>
        <v-range-slider
          :max="maxPrice"
          :min="minPrice"
          v-model="range"
          hide-details
          class="align-center"
          @change="setPriceFilter"
          :step="0.01"
        />
        <div class="d-flex justify-space-around">
          <span>{{ low.toFixed(2) }}</span
          ><span>{{ high.toFixed(2) }}</span>
        </div>
      </v-radio-group>
    </v-sheet>
    <v-expansion-panels v-else>
      <v-expansion-panel>
        <v-expansion-panel-header>Filters</v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-radio-group v-model="defaultIdx" :mandatory="true">
            <v-radio
              v-for="(filter, index) in filters"
              :key="index"
              :label="filter.text"
            ></v-radio>
          </v-radio-group>
          <v-form ref="form" v-model="numberForm">
            <v-text-field
              v-model.number="range[0]"
              type="number"
              label="Low"
              required
              :rules="lowRules"
              @change="validateForm"
            ></v-text-field>
            <v-text-field
              v-model.number="range[1]"
              type="number"
              label="High"
              required
              :rules="highRules"
              @change="validateForm"
            ></v-text-field>
          </v-form>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

import { Product } from "@/store/index";

type Data = {
  filters: Array<Record<string, unknown>>;
  range: [number, number];
  defaultIdx: number;
  numberForm: boolean;
};

const Sidebar = Vue.extend({
  name: "Sidebar",
  data(): Data {
    return {
      filters: [
        {
          text: "ToDo",
        },
      ],
      range: [0, Infinity],
      defaultIdx: 0,
      numberForm: false,
    };
  },
  mounted(): void {
    console.log(this.range);
    this.range = [this.minPrice, this.maxPrice];
    console.log(this.range);
  },
  computed: {
    maxPrice(): number {
      return this.$store.state.products.reduce(
        (maxPrice: number, product: Product) =>
          product.price > maxPrice ? product.price : maxPrice,
        0
      );
    },
    minPrice(): number {
      const minPrice = this.$store.state.products.reduce(
        (minPrice: number, product: Product) =>
          product.price < minPrice ? product.price : minPrice,
        Infinity
      );
      return minPrice !== Infinity ? minPrice : 0;
    },
    low(): number {
      return this.range[0];
    },
    high(): number {
      return this.range[1];
    },
    lowRules(): Array<(n: number) => boolean | string> {
      return [
        this.isBetweenMinAndMax,
        (n: number) => {
          console.log(n, this.high);
          return n <= this.high || "Low must be less than high";
        },
      ];
    },
    highRules(): Array<(n: number) => boolean | string> {
      return [
        this.isBetweenMinAndMax,
        (n: number) => n >= this.low || "High must be greater than low",
      ];
    },
  },
  methods: {
    setPriceFilter(): void {
      const filter = { low: this.low, high: this.high };
      console.log(filter, this.numberForm);
      this.$emit("setPriceFilter", filter);
    },
    validateForm(): void {
      (this.$refs.form as Vue & { validate: () => boolean })?.validate();
      if (this.numberForm) {
        this.setPriceFilter();
      }
    },
    isBetweenMinAndMax(n: number): boolean | string {
      return (
        (n >= this.minPrice && n <= this.maxPrice) ||
        `Value ${n} should be in [${this.minPrice}, ${this.maxPrice}`
      );
    },
  },
});

export default Sidebar;
</script>
