<template>
  <div>
    <v-app-bar>
      <v-toolbar-title> YoShop </v-toolbar-title>
      <v-spacer></v-spacer>
      <span class="hidden-sm-and-up">
        <v-btn @click.stop="drawer = !drawer"> Menu </v-btn>
      </span>
      <v-toolbar-items class="hidden-xs-only">
        <v-btn v-for="item in items" :key="item.link" :to="item.link" text>
          <v-icon small left>fa-{{ item.icon }}</v-icon>
          {{ item.title }}
        </v-btn>
      </v-toolbar-items>
    </v-app-bar>
    <v-navigation-drawer v-model="drawer" absolute temporary right>
      <v-list nav>
        <v-list-item
          v-for="item in items"
          :key="item.link"
          class="justify-center"
          :to="item.link"
        >
          <v-list-item-icon>
            <v-icon small left>fa-{{ item.icon }}</v-icon>
          </v-list-item-icon>
          {{ item.title }}
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script lang="ts">
export default {
  name: "TopNav",
  components: {},
  data(): Record<string, unknown> {
    return {
      drawer: false,
      items: [
        { title: "Home", link: "/", icon: "home" },
        { title: "Store", link: "/store", icon: "shopping-basket" },
        { title: "Cart", link: "/cart", icon: "shopping-cart" },
      ],
    };
  },
};
</script>
