<template>
  <v-card elevation="2" outlined class="mx-auto my-12" max-width="250">
    <v-img height="250" :src="product.imgUrl"></v-img>
    <v-card-title> {{ product.name }} </v-card-title>
    <v-card-subtitle> ${{ product.price.toFixed(2) }} </v-card-subtitle>
    <v-card-text> {{ product.description }} </v-card-text>
    <v-card-actions>
      <v-btn text @click="addToCart">
        <v-icon left x-small>fa-plus</v-icon>Add to cart
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import Vue from "vue";
import { Product } from "@/store/index";

const VerticalProduct = Vue.extend({
  name: "VerticalProduct",
  components: {},
  props: {
    product: Object as () => Product,
  },
  data(): Record<string, unknown> {
    return {};
  },
  methods: {
    addToCart(): void {
      this.$store.commit("addItemToCart", this.product);
      this.$store.commit("updateSnackbar", { show: true });
    },
  },
});

export default VerticalProduct;
</script>
