<template>
  <v-app>
    <TopNav />
    <v-main>
      <router-view></router-view>
    </v-main>
    <v-snackbar
      v-model="$store.state.snackbar.show"
      :color="$store.state.snackbar.variant"
      :timeout="3500"
      top
      left
      rounded="pill"
      elevation-6
      content-class="ml-4"
      max-height="12"
    >
      {{ $store.state.snackbar.message }}
      <v-btn text @click="updateSnackbar"> Close </v-btn>
    </v-snackbar>
  </v-app>
</template>

<script lang="ts">
import TopNav from "@/components/TopNav.vue";
import Vue from "vue";

const App = Vue.extend({
  name: "app",
  components: {
    TopNav,
  },
  methods: {
    updateSnackbar(): void {
      this.$store.commit("updateSnackbar", { show: false });
    },
  },
});

export default App;
</script>
